.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #333333;
}
.header {
  display: block;
  background-color: rgba(230, 230, 230, 0.6);
  border: 1px solid #888888;
  margin: 10px 0px;
  padding: 10px;
  text-align: left;
  position: fixed;
}
button {
  padding: 5px;
  margin-right: 10px;
}
.content {
  padding-top: 70px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  border-bottom: 1px solid #888888;
}
thead tr:first-child {
  background-color: #EEEEEE;
}
td, th {
  padding: 10px 15px;
  text-align: left;
}
td: {
}